<?xml version="1.0" encoding="utf-8"?>
<manifest package="android.weds.lip_library">

    <!--<application-->
        <!--android:allowBackup="true"-->
        <!--android:label="@string/app_name"-->
        <!--android:supportsRtl="true">-->
        <!--<activity android:name=".BaseActivity"></activity>-->
    <!--</application>-->

</manifest>